#useDynLib(RadOnc)

importFrom(graphics, axis, lines, par, plot, points, rect, segments, text)

importFrom(grDevices, col2rgb, rainbow, rgb)

importFrom(stats)

importFrom(utils)

importFrom(rgl)

importFrom(geometry)

importFrom(oro.dicom)

importFrom(ptinpoly)

importFrom(methods, new, slot, validObject)

importFrom(Rcpp, sourceCpp)

exportClasses(
	DVH,
	DVH.list,
	RTdata,
	structure3D,
	structure.list
)

export(
	compareStructures,
	gEUD,
	LQE,
	read.DVH,
	read.DICOM.RT
)

exportMethods(
	as.list,
	c,
	dim,
	gEUD,
	lapply,
	length,
	LQE,
	min,
	max,
	mad,
	median,
	mean,
	names,
	plot,
	print,
	quantile,
	range,
	rev,
	sd,
	show,
	sum,
	t.test,
	var,
	wilcox.test,
	"names<-",
	"[",
	"[[",
	"[[<-",
	"$<-",
	"$"
)
