#useDynLib(RadOnc)

import(methods, graphics, grDevices, stats, utils, rgl, geometry, oro.dicom, ptinpoly)

exportClasses(
	DVH,
	DVH.list,
	RTdata,
	structure3D,
	structure.list
)

export(
	calculate.DVH,
	compareStructures,
	gEUD,
	getStructureList,
	LQE,
	read.DVH,
	read.DICOM.RT
)

exportMethods(
	as.list,
	c,
	dim,
	gEUD,
	lapply,
	length,
	LQE,
	min,
	max,
	mad,
	median,
	mean,
	names,
	plot,
	print,
	quantile,
	range,
	rev,
	sd,
	show,
	sum,
	t.test,
	var,
	wilcox.test,
	"names<-",
	"[",
	"[[",
	"[[<-",
	"$<-",
	"$"
)
